<div class="center">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p class="title">login</p>

            <input name="username" type="text" class="form-control" placeholder="username" />
            <br>
            <br>
            <input name="password" type="text" class="form-control" placeholder="password" />
            <br>
            <br>
            <input name="login-submit" value="login" type="button" class="form-control btn btn-primary" />
        </div>
    </div>
</div>